.container-fluid{
    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        width: 40%;
        padding: 5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .title{
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
        }
        p{
            font-size: larger;
        }
        
        form{
            .forgot{
                display: flex;
                justify-content: flex-end;
            }
            .form-group{
                label{
                    font-size: medium;
                    font-weight: 500;
                    padding: 1rem 0 0.5rem 0;
                }
            }
            .button{
                text-align: center;
                .btn-login{
                    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
                    color: white;
                    border: none;
                    padding: 0.5rem 3rem;
                    border-radius: 2rem;
                }
            }
        }
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .register{
            text-align: center;
            padding-top: 3rem;
          }
    }
}

.link{
    text-decoration: none;
    color: Red;
    font-size: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .container-fluid{
        .card{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 850px) {
    .container-fluid{
        .card{
            width: 100%;
        }
    }
}