<div class="card border-0 shadow-lg">
    <div class="nav-items" [ngClass]="{ 'show-bars': showBars }">
        <!-- <div class="toggle-button ml-5">
            <img src="assets/icons/fa-bars.svg" alt="" height="20rem" (click)="toggleBars()">
        </div> -->
        <div class="route" (click)="navigateToEvents()">
            <img src="assets/icons/event.png" alt="" height="20rem">
            <p>Events</p>
        </div>
        <div class="route" (click)="navigateToDevices()">
            <img src="assets/icons/devices.png" alt="" height="20rem">
            <p>Devices</p>
        </div>
        <!-- <div class="route" (click)="navigateToPayment()">
            <img src="assets/icons/transaction.png" alt="" height="20rem">
            <p>Payment Method</p>
        </div> -->
        <div class="route" (click)="navigateToTickets()">
            <img src="assets/icons/queries.png" alt="" height="20rem">
            <p>Customer Support</p>
        </div>
        <!-- <div class="route" (click)="navigateToSubscription()">
            <img src="assets/icons/subscription.png" alt="" height="20rem">
            <p>Subscription</p>
        </div> -->
        <div class="route" (click)="navigateToLogout()">
            <img src="assets/icons/logout.png" alt="" height="20rem">
            <p>Logout</p>
        </div>
    </div>
</div>
