<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Device Name</th>
        <th scope="col">Location</th>
        <th scope="col">Pin</th>
        <th scope="col">Org Id</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Org Id</td>
        <td class="icons">
            <img src="assets/icons/edit.png" alt="Edit Icon">
            <img src="assets/icons/delete.png" alt="Delete Icon">
        </td>
        
      </tr>
    
    </tbody>
  </table>
  
  