<div class="container-fluid">
    <div class="row-items">
      <div class="left">
        <app-sidenav></app-sidenav>
      </div>
      <div class="right">
        <h3 class="top-header">Create your custom poster</h3>
        <div class="card border-0 shadow-lg">
          <canvas #canvas></canvas>
          <br>
          <div class="buttons">
            <input type="file" (change)="addImage($event)">
            <input type="text" placeholder="Enter text" [(ngModel)]="textToAdd">
            <input type="color" [(ngModel)]="textColor">
            <input type="number" placeholder="Font size" [(ngModel)]="fontSize">
            <button class="btn btn-primary" (click)="addText()">Add Text</button>
            <button class="btn btn-danger" (click)="deleteSelected()">Delete Selected</button>
            <button class="btn btn-success" (click)="exportImage()">Export Image</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  