footer{
    padding: 2rem 0;
    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%);
    color: white !important;
    .contents{
        .row{
            .col-md-3{
                text-align: center;
                .logo{
                   
                    img{
                        height: 2rem;
                    }
                }
                .input{
                    width: 100%;
                    position: relative;
                    .input-text{
                        padding: 1rem;
                        border-radius: 3rem;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        border: none;
                    }
                    .btn-subscribe{
                        position: absolute;
                        z-index: 1;
                        right: 0.3rem;
                        top: 0.2rem;
                        border-radius: 3rem;
                        color: white;
                        background-color: #F5167E;
                        border: none;
                        padding: 0.8rem;
                    }
                }
                
            }
        }
    }
}


@media only screen and (min-width: 601px) and (max-width: 980px) {
   
 }

 @media only screen and (max-width: 600px) {

    footer{
        .contents{
            .row{
                .col-md-3{
                    .input{
                       width: 80%;
                    }
                    
                }
            }
        }
    }
    
    
 }