<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <div class="contents">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <img src="../../../assets/images/logo.png" alt="Logo">
          <div class="logo">

            <img src="../../../assets/icons/facebook.png" alt="">

            <img src="../../../assets/icons/twitter.png" alt="">

            <img src="../../../assets/icons/linkedin.png" alt="">

          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <p>Plan Events</p>
          <p>Create and</p>
          <p>Set Up</p>
          <p>Sell Tickets</p>
          <p>Online RSVP</p>
          <p>Online Events</p>
        </div>
        <div class="col-md-3 col-sm-12">
         
          <p>About Us</p>
        
          <p>Contract Us</p>
          <p>Help Center</p>
          <p> How it Works</p>
          <p>Privacy</p>
          <p>Terms</p>
        </div>
        <div class="col-md-3 col-sm-12">
          <p>Stay in The loop</p>
          <p>Join our mailing list to stay in the loop with our newest for Event and concert</p>
          <div class="input">
            <input type="text" class="input-text" placeholder="Enter your email address">
            <button class="btn-subscribe">Subscribe Now</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold">tiko kamili</a>
    </div>
  </footer>