.card{
    margin: 3rem;
    padding: 2rem;

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}

.btn-submit{
  background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
  color: white;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
}
