<div class="card border-0 shadow-lg">
    <div class="container">
        <div class="left" (click)="navigateHome()">
            <img src="https://i.pinimg.com/564x/c3/e4/53/c3e453f5961869d56c4cae15e0d4d34b.jpg" alt="Logo">
        </div>
        <div class="right">
            <ul>
                <li (click)="navigateToLogin()">Login</li>
            </ul>
            <!-- <ul>
                <li >About us</li>
            </ul> -->
            
        </div>
        <div class="icon">
            <img src="assets/icons/fa-bar.png" alt="Menu" id="menuIcon">
        </div>
    </div>
    
</div>