.card{
    color: white;
    background-color: #3D37F1 ;
    .container{
        display: flex;
        justify-content: space-between;
        .left{
            h4{
                padding-top: 1rem;
                font-size: 2rem;
                color: white;
                font-weight: bold;
            }
        }
        .right{
            ul{
                display: flex;
                justify-content: space-between;
                list-style-type: none;  
                padding-top: 2rem;
                li{
                    padding-left: 5rem;
                    cursor: pointer;
                }
            }
        }
        .icon{
            display: none;
        }
    }

    .bottom{
       text-align: center; 
       .title{
        font-size: 2rem;
        font-weight: bold;
        padding-top: 1rem;
       }
       .title-desc{
        padding: 2rem 0;
       }
       .buttons{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 1rem;

        .get-ticket{
            border-radius: 2rem;
            background-color: red;
            color: white;
            border-radius: 10rem;
            width: 10rem;
            border: none;
        }
        .learn-more{
            border: 1px solid white;
            border-radius: 10rem;
            background-color: transparent;
            color: white;
            padding: 1rem;
            width: 10rem;
        }
       }
    }
}

@media only screen and (max-width: 600px) {
   .card{
   
    .container{
        
       .left{
        h4{
            font-size: 1rem;
        }
       }
    }
   }
}