<div class="container-fluid">
    <div class="card border-0 shadow-lg">
            
            <h3 class="title">Password Reset</h3>
         
            <!-- <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div> -->

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group mt-3">
                <label for="exampleInputEmail1">Email </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" required>
              </div>
            
              <div class="form-group mt-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password" required>
              </div>    
              
              <div class="form-group mt-3">
                <label for="exampleInputPassword1">RepeatPassword</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password_confirmation" required>
              </div>    
            
             <div class="button" *ngIf="!loading">
              <button type="submit" class="btn-login mt-3" >Reset</button>
             </div>
            </form>
            <div class="spinner" *ngIf="loading">
              <mat-spinner></mat-spinner>
            </div>
    </div>
</div>