.container-fluid{
    .row-items{
        display: flex;

        .left{
            height: 100% !important;
            width: fit-content;
        }
        .right{
           padding-top: 2rem;
            width: 100%;
          
        }
    }
}