<div class="container-fluid">
    <div class="row-items">
      <!-- Left section -->
      <div class="left">
        <app-sidenav></app-sidenav>
      </div>
      <!-- Right section -->
      <div class="right">
         <div class="subscription-top">
          <div class="card border-0 shadow-lg">
            <p>You are currently using free trial that will end in 20 days</p>
            <p>You are currently using bronze that will end in 20 days</p>
          </div>
         </div>
         <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow-lg">
              <h3>Bronze</h3>
              <ul>
                <li>Advanced event creation and management tools.</li>
                <li>Custom branding options for events.</li>
                <li>Enhanced reporting and analytics.</li>
                <li>Access to customer support (extended hours).</li>
              </ul>
              <h4>KES 3000 Per Month</h4>
              <button class="btn btn-success">Subscribe</button>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow-lg">
              <h3>Silver</h3>

              <ul>
                <li>Unlimited event creation and management.</li>
                <li>Full customization capabilities for events.</li>
                <li>Advanced reporting and analytics with real-time data.</li>
                <li>Priority customer support with dedicated account manager.</li>
                <li>Comprehensive device management with advanced features.</li>
              </ul>
              <h4>KES 3000 Per Month</h4>
              <button class="btn btn-success">Subscribe</button>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="card border-0 shadow-lg">
              <h3>Gold</h3>

              <ul>
                <li>Unlimited event creation and management.</li>
                <li>Full customization capabilities for events.</li>
                <li>Advanced reporting and analytics with real-time data.</li>
                <li>Priority customer support with dedicated account manager.</li>
                <li>Comprehensive device management with advanced features.</li>
              </ul>
              <h4>KES 3000 Per Month</h4>

              <button class="btn btn-success">Subscribe</button>
            </div>
          </div>

         </div>
      </div>
    </div>
  </div>
  