<div class="ticket-container" *ngFor="let ticket of purchasedTickets">
  <div class="ticket-header">
    <h3>{{ ticket.name }}</h3>
  </div>
  <div  class="ticket-container-child">
    <div class="eventImage">
      <img [src]="eventImage" alt="Event Image" class="event_image"> 
    </div>
    
    <div class="ticket-details">
      <p><strong>Customer Name:</strong> {{ ticket.first_name }} {{ ticket.last_name }}</p>
      <p><strong>Ticket Type:</strong> {{ ticket.type }}</p>
    </div>
    <div class="qr-code">
      <img *ngIf="ticket.qrCodeDataURL" [src]="ticket.qrCodeDataURL" alt="QR Code">
    </div>
  </div>
  <div class="footer">
    <p>Powered by <b>Kamili Ticketing</b></p>
  </div>
</div>

<button class="btn btn-primary" (click)="downloadPDF()">Download PDF</button>

