.ticket-container{
  margin: 1rem;
  background-color: black;
    color: white;
    padding: 2rem;
    .ticket-header{
      text-align: center;
      font-weight: bold;
      padding-bottom: 2rem;
      
      h3{
        font-size: 4rem;
      }
    }
  .ticket-container-child{
    
    display: flex;
    justify-content: space-evenly;
    

    .eventImage{
      .event_image{
        height: 12rem;
      }
    }
    
    .qr-code{
      img{
        height: 12rem;
      }
    }
  }

  .footer{
    text-align: center;
  }
}