<div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12" *ngFor="let query of queries">
        <div class="card border-0 shadow-lg mt-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ query.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ query.created_at | date}}</h6>
            <p class="card-text">{{ query.description }}</p>
            <p class="card-text">Organization: {{ query.organization.name }}</p> <!-- Assuming organization has a 'name' property -->
            <p class="card-text">User: {{ query.user.firstName }} {{ query.user.lastName }}</p> <!-- Display user's name -->
            
            <a  href="#" class="card-link">{{ query.status}} </a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  