.container-fluid{
    
    .row-items{
        display: flex;

        .left{
            height: 100% ;
            width: fit-content;
            position: fixed;
        }
        .right{
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
            padding-top: 10rem;
            .card{
                width: 60%;
                // padding: 2rem;
                height: fit-content;
                padding: 2rem 0;
                .card-items{
                    display: flex;
                    flex-direction: row;
                    .left-card{
                        width: 50%;
                        justify-content: center;

                        .event-name{
                            font-weight:bold;
                            font-size: 2rem;
                        }
                        
                       }
                       .right-card{
                        .row{
                            display: flex;
                            justify-content: space-between;
                            .custom-button{
                                background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
                                color: white;
                                border: none;
                                padding: 0.5rem 3rem;
                                border-radius: 2rem;
                            }
                        }
                        
                       }
                       .right-card{
                        .row{
                           
                            button{
                                width: fit-content;
                                margin-right: 1rem;
                            }
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                       }
                }              
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container-fluid{
    
        .row-items{
            display: flex;
    
            .left{
                height: 100% ;
                width: fit-content;
                position: fixed;
            }
            .right{
                display: flex;
                justify-content: center;
                width: 100%;
                text-align: center;
                padding-top: 10rem;
                .card{
                    width: 60%;
                    // padding: 2rem;
                    height: fit-content;
                    padding: 2rem 0;
                    .card-items{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .left-card{
                            width: 100%;
                            justify-content: center;
    
                            .event-name{
                                font-weight:bold;
                                font-size: 1rem;
                            }
                           }
                           .right-card{
                            .row{
                                display: flex;
                                justify-content: space-between;
                                .custom-button{
                                    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
                                    color: white;
                                    border: none;
                                    padding: 0.5rem 3rem;
                                    border-radius: 2rem;
                                }
                            }
                            
                           }
                           .right-card{
                            .row{
                               
                                button{
                                    width: 80%;
                                    margin-top: 0.5rem;
                                    margin-left: 1.5rem;
                                }
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                           }
                    }              
                }
            }
        }
    }

}


@media only screen and (min-width: 601px) and (max-width: 980px) {
     .container-fluid{
    
        .row-items{
            display: flex;
    
            .left{
                height: 100% ;
                width: fit-content;
                position: fixed;
            }
            .right{
                display: flex;
                justify-content: center;
                width: 100%;
                text-align: center;
                padding-top: 10rem;
                .card{
                    width: 60%;
                    // padding: 2rem;
                    height: fit-content;
                    padding: 2rem 0;
                    .card-items{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .left-card{
                            width: 100%;
                            justify-content: center;
    
                            .event-name{
                                font-weight:bold;
                                font-size: 1rem;
                            }
                           }
                           .right-card{
                            .row{
                                display: flex;
                                justify-content: space-between;
                                .custom-button{
                                    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
                                    color: white;
                                    border: none;
                                    padding: 0.5rem 3rem;
                                    border-radius: 2rem;
                                }
                            }
                            
                           }
                           .right-card{
                            .row{
                               
                                button{
                                    width: 80%;
                                    margin-top: 0.5rem;
                                    margin-left: 4rem;
                                }
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                           }
                    }              
                }
            }
        }
    }
 }
