.container-fluid{
    .row-items{
        display: flex;

        .left{
            height: 100% !important;
            width: fit-content;
        }
        .right{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 10rem;
            .card{
                width: 100%;
                padding: 2rem;
                height: fit-content;

                .poster-section{
                    display: flex;
                    justify-content: space-between;

                    .form-group{
                   
                        .image-section {
                            height: 20rem;
                            width: 20rem;
                            border: 1px solid black;
                            text-align: center;
                            overflow: hidden; 
                          }
                          
                          .image-section img {
                            max-width: 100%; /* Ensure the image fits within the container */
                            max-height: 100%; /* Ensure the image fits within the container */
                            display: block; /* Remove any default inline spacing */
                            object-fit: contain; /* Maintain aspect ratio and fit within container */
                          }
                    }
                }

                form{
                    .spinner{
                        text-align: center;
                        width: 100%;
                        display: flex;
                        
                        justify-content: center;
                        .inner-spin{
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.btn-submit{
    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
}


@media only screen and (min-width: 601px) and (max-width: 980px) {
    
 }

 @media only screen and (max-width: 600px) {
    .container-fluid{
        .row-items{
            display: flex;
    
            .right{
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top: 2rem;
                .card{
                    width: 80%;
                    padding: 2rem;
                    height: fit-content;
    
                    .poster-section{
                        display: flex;
                        flex-direction: column-reverse;

                        .form-group{
                            .image-section {
                                height: 10rem;
                                width: 10rem;
                                border: 1px solid black;
                                text-align: center;
                                overflow: hidden; 
                                margin: 1rem 0;
                              }
                              
                              .image-section img {
                                max-width: 100%; /* Ensure the image fits within the container */
                                max-height: 100%; /* Ensure the image fits within the container */
                                display: block; /* Remove any default inline spacing */
                                object-fit: contain; /* Maintain aspect ratio and fit within container */
                              }
                              button{
                                margin: 1rem 0;
                              }
                        }
                       
                    }
    
                    
                }
            }
        }
    }
    
 }