.container-fluid{
    .row-items{
        display: flex;

        .left{
            height: 100% !important;
            width: fit-content;
        }
        .right{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 10rem;
            .card{
                width: 80%;
                padding: 2rem;
                height: fit-content;

                .poster-section{
                    display: flex;
                    justify-content: space-between;
                }

                form{
                    .spinner{
                        text-align: center;
                        width: 100%;
                        display: flex;
                        
                        justify-content: center;
                        .inner-spin{
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.btn-submit{
    background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
}


@media only screen and (min-width: 601px) and (max-width: 980px) {
    
 }

 @media only screen and (max-width: 600px) {
    .container-fluid{
        .row-items{
            display: flex;
    
            .right{
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top: 2rem;
                .card{
                    width: 80%;
                    padding: 2rem;
                    height: fit-content;
    
                    .poster-section{
                        display: flex;
                        flex-direction: column-reverse;
                       
                    }
    
                    
                }
            }
        }
    }
    
 }