.container-fluid{
    .row-items{
        display: flex;

        .left{
            height: 100% !important;
            width: fit-content;
        }
        .right{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 10rem;
            .card{
                width: 80%;
                padding: 2rem;
                height: fit-content;

                .poster-section{
                    display: flex;
                    justify-content: space-between;
                }

                form{
                    .spinner{
                        text-align: center;
                        width: 100%;
                        display: flex;
                        
                        justify-content: center;
                        .inner-spin{
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}
