<div class="navbar-top">
    <app-navbar />
</div>

<div class="welcome">
    <h3 class="center">Welcome to EventHub!</h3>

    
    <div class="top">
        <div class="right">
            <img src="https://i.pinimg.com/564x/4c/8e/24/4c8e24335f110f6abdf3f938ffabc0d0.jpg" alt="">
        </div>
        
        <div class="left">
            <p>EventHub is your ultimate platform for creating and managing events, selling tickets, and engaging with your audience. Whether you're planning a concert, workshop, conference, or any type of event, EventHub makes it easy to get started and reach your audience.</p>
        </div>
    </div>
   

</div>

<div class="why-us mt-3">
    <h3>Why Choose EventHub?</h3>
    <div class="data">
        
        <div class="left">
            <ul>
                <li> User-Friendly Interface: Our intuitive interface makes event creation and ticket management a breeze.</li>
                <li>Secure Transactions: Rest assured with our secure payment processing and ticketing system.</li>
                <li>Real-Time Updates: Stay connected and informed with instant updates and notifications.</li>
            </ul>
        </div>
        <!-- <div class="right">
            <img src="https://i.pinimg.com/236x/0a/56/d0/0a56d0311dee613af611484988744f51.jpg" alt="">
        </div> -->
    </div>
   
    
   
<p>Get ready to revolutionize event management with EventHub! Start creating unforgettable experiences today.</p>

</div>

<div class="footer">
    <app-footer />
</div>