.container-fluid{
    .container{
        .row-items{
            .events{
                .row{
                    div{
                        .card{
                            cursor: pointer;
                            border-radius: 2rem;
                            .card-img-top{
                                border-radius: 2rem 2rem 0 0;
                                height: 3rem;
                                .card-body{
                                    .left{
                                        display: flex;
                                        flex-direction: column;
                                        p{
                                            color: blue;
                                        }
                                    }
                                    .right{
                                        .card-title1{
                                            font-weight: bold;
                                            color: #000000;
                                            font-size: 1rem;
                                        }
                                        .card-text1{
                                            color: #6A6A6A;
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .load-more-button{
                text-align: center;
                padding: 3rem 0;
                .load-more{
                    padding: 1rem;
                    width: 10rem;
                    border-radius: 2rem;
                    color: blue;
                    border: 1px solid blue;
                }
            }
        }
    }


}


@media only screen and (max-width: 600px) {
    .container-fluid{
        .row-items{
            .events{
                .row{
                    .col-md-3{
                        .card{
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
 }