<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <div class="contents">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <p>Tiko Kamili</p>
        </div>
        <div class="col-md-3 col-sm-12">
          <p>Tiko Kamili</p>
        </div>
        <div class="col-md-3 col-sm-12">
          <p>Tiko Kamili</p>
        </div>
        <div class="col-md-3 col-sm-12">
          <p>Tiko Kamili</p>
        </div>
      </div>
    </div>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold">tiko kamili</a>
    </div>
  </footer>