<div class="container-fluid">
    <div class="navbar-top">
        <app-navbar />
    </div>
    <div class="container">
      <div class="row-items">
        
        <div class="events mt-3">
          <div class="row">
            <!-- Loop through each event and create a card -->
            <div class="col-md-4 col-sm-12 mt-3" *ngFor="let event of events">
              <div class="card border-0 shadow-lg" (click)="purchaseTicket(event.id)">
                <div class="image">
                  <img class="card-img-top" [src]="event.image" alt="Card image cap" style="height: 10rem;width: 10rem;">
                </div>
                
                <div class="card-body row" >

                 
                  <div class="right ">
                     <h1 class="card-title1">{{ event.name }}</h1>
                     <p class="card-date1"> {{ event.event_date }}</p>
                     <p class="card-text1">Venue:{{ event.venue }}</p>
                     <p class="card-text1">Price :{{ event.ticket_price }}</p>
                     <p class="card-text1">Remaining Tickets: {{ event.remaining_tickets }}</p>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="load-more-button">
          <button class="load-more">Load More</button>
          <!-- <button class="load-more" (click)="onLoadMore()">Load More</button> -->
        </div>
        
    </div>

    </div>

    <div class="footer">
      <app-footer></app-footer>
    </div>
    
    </div>

  