.container-fluid{
    .container{
        .filter-section{
            padding: 1rem 0;
            display: flex;
            justify-content: flex-end; /* Align items to the right */
            gap: 1rem;

            .form-select{
                width: 10rem;
            }
        }
        .row-items{
            .events{
                .row{
                    div{
                        .card{
                            cursor: pointer;
                            border-radius: 2rem;
                            .image{
                                text-align: center;
                                padding-top: 1rem;
                                .card-img-top{
                                   
                                    height: 3rem;
                                    .card-body{
                                     
                                        .right{
                                            .card-title1{
                                                font-weight: bold;

                                                color:#3D37F1;
                                                font-size: 1rem;
                                            }
                                            .card-text1{
                                                color: #6A6A6A;
                                                font-size: 1.2rem;
                                            }
                                            .card-date1{
                                                color:#3D37F1;
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }

            .load-more-button{
                text-align: center;
                padding: 3rem 0;
                .load-more{
                    padding: 1rem;
                    width: 10rem;
                    border-radius: 2rem;
                    color: blue;
                    border: 1px solid blue;
                }
            }
        }
    }

}

.text-danger{
    font-weight: 400;
    font-size: 2rem;
}

@media only screen and (min-width: 601px) and (max-width: 980px) {
    .container-fluid{
        .row-items{
            .events{
                .row{
                    .col-md-3{
                        .card{
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
 }

 @media only screen and (max-width: 600px) {
    
    
 }