<div class="container-fluid">
    <div class="card border-0 shadow-lg">
            <!-- Display error message if exists -->
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <h3 class="title">Register</h3>
           

            <form [formGroup]="registrationForm" (submit)="onSubmit($event)">
              <div class="form-group mt-3">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" formControlName="firstName" required>
              </div>
              <div class="form-group mt-3">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" formControlName="lastName" required>
              </div>
              <div class="form-group mt-3">
                  <label for="email">Email </label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" formControlName="email" required>
              </div>
              <div class="form-group mt-3">
                  <label for="phoneNumber">Phone </label>
                  <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber" required>
              </div>
              <div class="form-group mt-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" formControlName="password" required>
              </div>
              <div class="form-group mt-3">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password" formControlName="repeatPassword" required>
                <div *ngIf="registrationForm.errors?.['notSame'] && (registrationForm.touched || registrationForm.dirty)" class="invalid-feedback">
                    Passwords do not match.
                </div>
                </div>
            
              <div class="button">
                  <button type="submit" class="btn-register mt-3">Register</button>
              </div>
              <div class="spinner" *ngIf="loading">
                <mat-spinner></mat-spinner>
              </div>
          </form>
          
          
          <div class="links">
            <a class="privacy-policy"(click)="loginRoute()" >Login</a>

            <a class="privacy-policy" (click)="navigateToPrivacy()">Privacy Policy</a>
          </div>
          
    </div>
</div>