.container-fluid{
    .row-items{
        display: flex;

        .left{
            height: 100% !important;
            width: fit-content;
        }
        .right{
            padding-top: 1rem;
            width: 100%;
            padding-left: 1rem;
           

            .btn-create{
                background-image: linear-gradient(to right, #ED4690 0%, #5522CC 100%) !important;
                color: white;
                border: none;
                padding: 0.5rem 3rem;
                border-radius: 2rem;
            }
        }

    }
}