<div class="card border-0 shadow-lg">
   

    <div class="nav-items" >
       
        <div class="route" (click)="navigateToEvents()">
            <!-- <img src="assets/icons/event.png" alt="" height="20rem"> -->
            <p>Events</p>
        </div>
        <div class="route" (click)="navigateToDevices()">
            <!-- <img src="assets/icons/logout.png" alt="" height="20rem"> -->
            <p>Devices</p>
        </div>
        <div class="route" (click)="navigateToPayment()">
            <!-- <img src="assets/icons/logout.png" alt="" height="20rem"> -->
            <p>Payment Method</p>
        </div>
        <div class="route" (click)="navigateToTickets()">
            <!-- <img src="assets/icons/logout.png" alt="" height="20rem"> -->
            <p>Queries</p>
        </div>
        <div class="route" (click)="navigateToSubscription()">
            <!-- <img src="assets/icons/logout.png" alt="" height="20rem"> -->
            <p>Subscription</p>
        </div>
        <div class="route" (click)="navigateToLogout()">
            <!-- <img src="assets/icons/logout.png" alt="" height="20rem"> -->
            <p>Logout</p>
        </div>
    </div>
</div>
