<!-- purchase-ticket.component.html -->
<div class="container">
  <form [formGroup]="ticketingForm">
  <div class="row">
    <!-- Left column with event details -->
          
    <div class="col-md-6 col-sm-12">
      <!-- Display event details -->
      <p>{{ event.name }}</p>
      <p>Kes . {{ event.ticket_price }}</p>
      <p> {{ event.remaining_tickets === 0 ? 'Events Sold Out!' : 'Tickets Available' }}</p>
      
      <img class="card-img-top" [src]="event.image" alt="Card image cap" style="height: 10rem;width: 10rem;">
      <!-- Display total cost based on selected quantity -->
      <div class="row mt-3">
        <div class="col">
          <p>Total</p>
        </div>
        <div class="col">
          <p>{{ 'KSH ' + ticketingForm.get('totalCost')?.value }}</p>
        </div>
      </div>
    </div>

    <!-- Right column with form inputs -->
    <div class="col-md-6 col-sm-12">
      <!-- Quantity selection -->
      <p>Quantity</p>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="decreaseQuantity()">-</button>
        <input type="number" class="form-control text-center" style="color: black;" formControlName="noTickets" [readonly]="true">
        <button type="button" class="btn btn-secondary" (click)="increaseQuantity()">+</button>
      </div>
      

      <!-- Payment method selection -->
      <p>Payment Method</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <button class="button">Mpesa</button>
        </div>
        <div class="col">
          <button class="button">Card</button>
        </div>
      </div>

      <!-- Personal information inputs -->
      <div class="row">
        <div class="col">
          <div class="form-group mt-3">
            <label for="firstName">First Name *</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" formControlName="firstName">
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group mt-3">
            <label for="lastName">Last Name *</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" formControlName="lastName">
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="phoneNumber">Phone Number *</label>
        <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" formControlName="phoneNumber">
      </div>

      <div class="form-group mt-3">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
      </div>

      <!-- Submit button -->
      <button class="button mt-3" (click)="purchaseTickets()">PAY Now</button>
    </div>
  </div>

  <!-- Spinner for loading state -->
  <div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
</form>
</div>
