<div class="card shadow-lg border-0">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Ticket Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Create Payment method"  readonly>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">More data</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
</div>