<div class="container-fluid">
    <div class="row-items">
      <div class="left">
        <!-- Include app-sidenav component (assuming it's a custom component) -->
        <app-sidenav></app-sidenav>
      </div>
      <div class="right" *ngIf="userOrg">
        <div class="buttons" >
            <button class=" btn btn-primary" (click)="viewAvailableDevices()">Available devices</button>

            <button class=" btn btn-secondary" (click)="createDevices()">Create a device</button>
        </div>
        
        <div class="view-section">
            <app-create-device *ngIf="!viewDevices"></app-create-device>

            <app-view-devices *ngIf="viewDevices"></app-view-devices>
        </div>
      </div>
      <div class="organization-check"*ngIf="!userOrg">
        <app-organization-check></app-organization-check>
      </div>
    </div>
  </div>
  